body {
    background-color: black;
    font-family: "Work Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    color: white;
}

.navbar {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    margin-right: 20px;
}

.container {
    display: flex;
    justify-content: center;
    list-style-type: none; /* Remove bullets */
    padding: 0;
    margin: 0;
}

.container li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
    display: block; /* Make the link fill the parent */
    padding: 10px; /* Add padding to make the hover area larger */
}

.nav-links a:hover {
    color: black;
    background-color: yellow; /* Highlight the whole width */
}

h1 {
    text-align: center;
    font-size: 45px;
    text-shadow: 2px 2px 40px black;
    position: sticky;
}

h2 {
    font-size: 30px;
    text-align: center;
    display: inline;
}

section {
    text-align: center;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 30px black;
    margin: 20px 0;
}

#skills ul, #experience ul, #projects ul, #messages ul {
    list-style-type: none; 
    padding: 0;
    margin: 20px 0;
}

.profile-photo {
    display: block;
    margin: 0 auto;
}

.icons ul {
    display: flex;
    justify-content: center;
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

.icons ul li {
    margin: 0 10px;
}

a {
    color: white;
}

.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.skillsContainer div {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
    margin: 10px;
    min-width: 150px;
}

@media (max-width: 1280px) {
    h1, h2, strong, .nav-links, .icons ul {
        color: yellow;
        font-size: 32px;
        font-style: italic;
    }

    h2 {
        color: yellow;
        font-size: 25px;
        font-style: italic;
    }

    strong {
        color: yellow;
        font-size: 25px;
        font-style: italic;
    }

    .nav-links {
        color: yellow;
        font-size: 16px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

@media (any-hover: hover) {
    h1:hover, h2:hover, strong:hover {
        background: yellow;
    }

    .footer-links:hover {
        background: yellowgreen;
    }
}

@keyframes jiggle {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(25px);
    }
}

@media (update: fast) {
    h1 {
        animation: 1s jiggle linear alternate infinite;
    }
    p {
        animation: 5s jiggle linear alternate infinite;
    }
}

/* Hide container on smaller screens */
@media screen and (max-width: 768px) {
    .container {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: black;
        z-index: 1;
    }

    .container.active {
        display: flex;
    }

    .container li {
        margin: 10px 0;
        text-align: center;
    }
}

/* Hide hamburger menu on bigger screens */
@media screen and (min-width: 769px) {
    .menu-icon {
        display: none;
    }

    .container {
        display: flex;
    }
}
